.headerContainer{
    color: var(--headingColor);
    background-color: var(--headingBG);
    text-align: center;
    width: 100%;
}

.headerContainer * {
    max-width: 800px;
    margin-left: 5rem;
    font-weight: 500;
    line-height: 1.3;
}